<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{asset('assests/css/style.css')}}">
    <title>Architecte</title>
      {% block stylesheets %}
      {% endblock %}

      {% block javascripts %}
      {% endblock %}
</head>
<body>

  <header>
      <nav>
          <ul>
              <li><a href="">Projects</a></li>
              <li><a href="">About</a></li>
              <li><a href="">Contact</a></li>
          </ul>
      </nav>
      <h1 class="logo">BR Architects</h1>
      <div class="PrincipaleImg">
          <img class="ImgHeader" src="{{asset('assests/image/architect.jpg')}}" alt="">
          <h1>BR Architects</h1>
      </div>
  </header>

  <section>
    <div class="haut">
      <div class="Projects">
          <h2>Projects</h2>
          <img class="Hak_Image" src="{{asset('assests/image/house2.jpg')}}" alt="">
          <img class="Hak_Image" src="{{asset('assests/image/house5.jpg')}}" alt="">
          <img class="Hak_Image" src="{{asset('assests/image/house4.jpg')}}" alt="">
          <img class="Hak_Image" src="{{asset('assests/image/house2.jpg')}}" alt="">

          <img class="Hak_Image" src="{{asset('assests/image/house5.jpg')}}" alt="">

          <img class="Hak_Image" src="{{asset('assests/image/house4.jpg')}}" alt="">

          <img class="Hak_Image" src="{{asset('assests/image/house3.jpg')}}" alt="">

          <img class="Hak_Image" src="{{asset('assests/image/house5.jpg')}}" alt="">
 
      </div>
    </div>
  </section>
    {% block body %}
    {% endblock %}
</body>
</html>
